@model Bilheteira.Bilhete

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Bilhete</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="EspetaculoId" class="control-label"></label>
                <select asp-for="EspetaculoId" class="form-control" asp-items="ViewBag.EspetaculoId"></select>
                <span asp-validation-for="EspetaculoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalaId" class="control-label"></label>
                <select asp-for="SalaId" class="form-control" asp-items="ViewBag.SalaId"></select>
                <span asp-validation-for="SalaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataEspetaculo" class="control-label"></label>
                <input asp-for="DataEspetaculo" class="form-control" />
                <span asp-validation-for="DataEspetaculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumBilhetes" class="control-label"></label>
                <input asp-for="NumBilhetes" class="form-control" />
                <span asp-validation-for="NumBilhetes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Preco" class="control-label"></label>
                <input asp-for="Preco" class="form-control" />
                <span asp-validation-for="Preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
